key = 'secret'
debug = True
allowed_hosts = ['*', ]
databases = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'db',
        'USER': 'user',
        'PASSWORD': 'password1',
        'HOST': '127.0.0.1',
        'PORT': '3306',
    },
}

sendgrid_api_key='secret'